<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | HospitalOpenings.com</title>

    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content="hospital jobs, hospital openings, nursing jobs, medical jobs, hospital jobs information network, veteran hiring authority, Openings">
    <meta name="description" content="Hospital Openings Jobs. This website is designed to help you find and obtain a Hospital Opening or Hospital Jobs. HospitalOpenings.com provides informative listings from Hospital, combined with Hospital job tips. Click here to see what jobs the Hospitals Has!">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900" rel="stylesheet" type="text/css">
    <!-- OWLSLIDER-->
    <link rel="stylesheet" href="./assets/js/libs/owl.carousel.2.0.0-beta.2.4/css/owl.carousel.css" type="text/css" media="all" data-module="owlslider">
    <link rel="stylesheet" href="./assets/js/libs/owl.carousel.2.0.0-beta.2.4/css/owl.theme.default.css" type="text/css" media="all" data-module="owlslider">
    <!-- ANIMATE.CSS LIBRARY-->
    <link rel="stylesheet" href="./assets/css/libs/animate.min.css" type="text/css" media="all">
    <!-- ICON WEB FONTS	-->
    <link rel="stylesheet" href="./assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="./assets/fonts/webfont-medical-icons/wfmi-style.css" type="text/css" media="all">
    <!-- MAIN STYLESHEETS-->
    <link rel="stylesheet" href="./assets/css/theme_custom_bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all">
    <!-- HEADER SCRIPTS	-->
    <script type="text/javascript" src="./assets/js/libs/modernizr.custom.48287.js"></script>
    <!-- Style Switcher, You propably want to remove this!-->
    <link rel="stylesheet" href="./assets/css/_style-switcher.css" type="text/css" media="all">
    <!-- BEFORE/AFTER PLUGIN-->
    <link rel="stylesheet" href="./assets/css/libs/twentytwenty.min.css" type="text/css" data-module="twenty-twenty">
</head>
<body class="sticky_header">
    <header>
        <div class="overflow_wrapper">
            <!-- =========================== HEADER ==========================-->
            <div class="header">
                <div class="mainbar secondary_section">
                    <div class="container">
                        <div class="logo">
                            <a href="index.html" class="brand"><img src="./assets/images/medicus-header-logo-x64.png" alt="logo"></a>
                            <p class="animated slideInLeft">Hospital Openings Jobs Hiring</p>
                        </div>
                        <div class="menu_container">
                            <span class="close_menu">&times;</span>
                            <!-- ========================= NAVIGATION MENU ========================-->
                            <nav>
                                <ul class="menu main_menu hover_menu">
                                    <li><a title="Home" href="./default.aspx">HOME</a></li>
                                    <li><a title="VIEW BY STATE" href="./states">VIEW BY STATE</a></li>
                                    <li><a title="JOB TYPES" href="./hospitaltypes">JOB TYPES</a></li>
                                    <li><a title="LICENSE BOARDS" href="./licensingboards">LICENSE BOARDS</a></li>
                                    <li><a title="APPLICATION" href="./hospitalapplication">APPLICATION</a></li>
                                    <li><a title="CONTACT" href="./contact">CONTACT</a></li>
                                    <li class="lihasdropdown two-column drop-left">
                                        <a title="more" href="#">More </a>
                                        <ul class="menu-dropdown">
                                            <li><a title="INTERVIEWING TIPS" href="./interviewtips">INTERVIEWING TIPS</a></li>
                                            <li><a title="MEDICAL JOB GUIDE" href="./hospitalguide">MEDICAL JOB GUIDE</a></li>
                                            <li><a title="CONTACT US" href="./contact">CONTACT US</a></li>
                                            <li><a title="POLICY" href="./policy">POLICY</a></li>
                                            <li><a title="TERMS" href="./terms">TERMS</a></li>
                                            <li><a title="ABOUT US" href="./about">ABOUT US</a></li>
                                            <li><a title="SITEMAP" href="./sitemap">SITEMAP</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END====================== NAVIGATION MENU ========================-->
                        </div>
                        <label class="mobile_collapser">MENU  </label>
                        <!-- =========================== SOCIAL ICONS =========================-->
                        <a title="" href="#" class="social_links"><i class="fa fa-share-alt"></i></a>
                        <div class="team_social"><a href="#"><i class="fa fa-skype"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                        <!-- END======================== SOCIAL ICONS ========================= -->
                    </div>
                </div>
            </div>
         </div>
    </header>
    <!-- END======================== HEADER ==========================-->


    <div>

        @RenderBody()

    </div>

    <!-- FOOTER-->
    <!-- ============================ FOOTER ============================-->
    <footer class="secondary_section vbottom">
        <div class="container">
            <div class="row">
                <!-- ========================== WIDGET ABOUT US ==========================-->
                <div class="col-sm-6 col-md-4">
                    <div class="widget pl_about_us_widget">
                        <p><img src="./assets/images/medicus-header-logo.png" alt="image-desc"></p>
                        <p>Currently There's a Need for new people. Hiring Organizations have placed a premium on New Openings.</p>
                        <p class="contact_detail"><i class="fa fa-envelope"></i><span><a href="mailto:info@hospitalopenings.com">info@hospitalopenings.com</a></span></p>

                        <p class="contact_detail"><a href="https://www.google.com/maps/place/3540+Crain+Hwy+Bowie+MD+20716" target="_blank"><i class="fa fa-location-arrow"></i></a><span>3540 Crain Hwy #407, Bowie, MD 20716        </span></p>
                    </div>
                </div>
                <!-- END======================= WIDGET ABOUT US ==========================-->
                <!-- ========================== LATEST NEWS =============================-->
                <div class="col-sm-6 col-md-4">
                    <div class="widget pl_latest_news_widget">
                        <h4>Latest Articles</h4>
                        <ul class="media-list">
                            <li class="media">
                                <a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-2" style="background-image:url('./assets/images/video-002.jpg');" class="media-photo"></a>
                                <h5 class="media-heading"><a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-2">What Medical and Health Services Managers Do</a></h5><small>Dec 8</small>
                                <p>Medical and health services managers, also called healthcare executives or healthcare administrators, plan, direct,.... </p>
                            </li>
                            <li class="media">
                                <a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-3" style="background-image:url('./assets/images/pricing-004.jpg');" class="media-photo"></a>
                                <h5 class="media-heading"><a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-3">Work Environment</a></h5><small>Dec 6</small>
                                <p>Prom preventive care and checkups, to immunizations and exams, our primary…</p>
                            </li>
                            <li class="media">
                                <a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-5" class="media-photo"></a>
                                <h5 class="media-heading"><a href="https://www.bls.gov/ooh/management/medical-and-health-services-managers.htm#tab-5">Medical Pay</a></h5><small>Dec 7</small>
                                <p>The median annual wage for medical and health services managers was $99,730 in May 2018. </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END======================= LATEST NEWS =============================-->
                <!-- ========================== REQUEST A CHECKUP =======================-->



            </div>
        </div>
    </footer>
    <!-- END========================== FOOTER ============================-->

    <div class="copyright secondary_section">
        <div class="secondary_section transparent-film">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">Copyright ©2019 all rights reserved</div>
                    <div class="col-sm-6 col-md-6 text-right">All Hospital Openings and Hospital Jobs</div>
                </div>
            </div>
        </div>
    </div><a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- ==================== SCRIPTS | CONFIG ====================-->
    <script type="text/javascript" src="./assets/js/config.js" data-module="main-configuration"></script>
    <!-- ==================== SCRIPTS | GLOBAL ====================-->
    <script type="text/javascript" src="./assets/js/libs/jquery.min.js"></script>
    <!--if lte IE 9 script(type='text/javascript', src='./assets/js/libs/matchMedia.min.js')
    -->
    <script type="text/javascript" src="./assets/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="./assets/js/libs/wow.min.js" data-module="wow-animation-lib"></script>
    <script type="text/javascript" src="./assets/js/libs/particlesjs/particles.min.js" data-module="particles-js"></script>
    <script type="text/javascript" src="./assets/js/libs/conformity/dist/conformity.min.js" data-module="equal-column-height"></script>
    <!-- END====================== SCRIPTS ========================-->
    <!-- =================== SCRIPTS | SECTIONS ===================-->
    <script type="text/javascript" src="./assets/js/newsletter.min.js" data-module="newsletter"></script>
    <script type="text/javascript" src="./assets/js/contact_form.min.js" data-module="contact-form"></script>
    <script type="text/javascript" src="./assets/js/appointment_form.min.js" data-module="appointment-form"></script>
    <script type="text/javascript" src="./assets/js/libs/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js" data-module="owlslider"></script>
    <script type="text/javascript" src="./assets/js/owlslider-init.js" data-module="owlslider"></script>
    <script type="text/javascript" src="./assets/js/libs/parallax.min.js" data-module="parallax"></script>
    <!-- END================ SCRIPTS | SECTIONS ===================-->
    <!-- ==================== SCRIPTS | INIT ======================-->
    <script type="text/javascript" src="./assets/js/theme.js" data-module="main-theme-js"></script>
    <!-- END==================== SCRIPTS | INIT ===================-->
    <!-- Style Switcher, You propably want to remove this!-->
    <script type="text/javascript" src="./assets/js/_style-switcher.js"></script>
    <div class="style_switcher">
        <div class="gear"><i class="fa fa-gear"></i></div>
        <div class="styles">
            <h6>Choose A Color</h6>
            <ul class="color_variations">
                <li class="style-default"><i class="fa fa-circle"></i></li>
                <li class="style-silver"><i class="fa fa-circle"></i></li>
                <li class="style-yellow"><i class="fa fa-circle"></i></li>
                <li class="style-golden"><i class="fa fa-circle"></i></li>
                <li class="style-purple"><i class="fa fa-circle">                </i></li>
            </ul>
            <ul>
                <li class="style-onepage"><a href="#"><i class="fa fa-desktop"></i>Comfortable For Your Eyes</a></li>
            </ul>
            <p></p>

        </div>
    </div>
    <!-- END Style Switcher-->
    <!-- DYNAMIC STYLE SWITCHER -->
    <script type="text/style-switcher-template" id="style-switcher-template">
        <div class="section_style_switcher">
            <div class="handler"><i class="fa fa-wrench"></i></div>
            <div class="handler downloader"><i class="fa fa-download"></i></div>
            <div class="inner_area">
                <div class="section_styles">
                    <h5>Section Classes                 </h5><a class="color_section">skincolored_section</a><a class="color_section">secondary_section</a><a class="color_section">dark_section</a><a class="color_section">light_section</a><a class="color_section">black_section</a><a class="color_section">white_section                 </a><a class="color_section">transparent</a>
                    <hr><a>bgimage</a><a>transparent-film</a><a>gradient-film-to-top</a><a>gradient-film-to-bottom</a>
                    <hr><a>gradient</a><a>gradient-invert</a>
                    <hr><a>diagonal-30</a><a>diagonal-30-invert</a><a>diagonal-30-minusangle</a><a>diagonal-30-minusangle-invert</a>
                    <hr><a>diagonal-50</a><a>diagonal-50-invert</a><a>diagonal-50-minusangle</a><a>diagonal-50-minusangle-invert</a>
                    <hr><a>diagonal-70</a><a>diagonal-70-invert</a><a>diagonal-70-minusangle</a><a>diagonal-70-minusangle-invert            </a>
                    <hr><a>no_padding</a><a>no_top_padding</a><a>no_bottom_padding</a><a>no_cols_padding</a><a>full_width</a><a>vcenter </a><a>vbottom</a>
                    <hr><a>full_height</a><a>vertical_center</a><a>vertical_bottom</a>
                    <hr><a>elevate</a>
                </div>
            </div>
        </div>
    </script>
    <!-- END DYNAMIC STYLE SWITCHER -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
